{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}
{% block pagetitle %}
    {% if user.id is empty %}Nieuwe gebruiker{% else %}{{ user.getFullname() }}{% endif %}
{% endblock %}

{% block pageheader %}
    <h1>{% if user.id is empty %}Nieuwe gebruiker{% else %}{{ user.getFullname() }}{% endif %}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('webberig_backend_users') }}">Gebruikers</a></li>
        <li class="active">{% if user.id is empty %}Nieuwe gebruiker{% else %}{{ user.getFullname() }}{% endif %}</li>
    </ul>
{% endblock %}

{% block body %}
    {% set formId = 'frmUser' %}
    <form method="post" id="{{ formId }}">
        <fieldset>
            <legend>Gebruiker</legend>
            <div class="row">
                <div class="col-sm-6">
                    {{ 'fullname'|fText({label: 'Naam', formId: formId, value: user.fullname}) }}
                </div>
                <div class="col-sm-6">
                    {{ 'username'|fText({label: 'Gebruikersnaam', formId: formId, value: user.username}) }}
                    {{ 'password'|fPassword({label: 'Wachtwoord', formId: formId, value: user.password}) }}
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            {% if user.id is not empty %}
                <a href="{{ path('webberig_backend_users_delete', {id: user.id}) }}" id="frmUser-Delete" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Verwijderen
                </a>
            {% endif %}
            {{ Button.Submit() }}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {% if user.id is not empty %}
    <script>
        $("#frmUser-Delete").click(function(e)
        {
            var url = $(this).attr("href");
            e.preventDefault();
            bootbox.confirm("<h4>Gebruiker '{{ user.getFullname }}' verwijderen</h4>Bent u zeker?",
            function(result)
            {
                if (result == true)
                {
                    window.location = url;
                }
            });
        })
    </script>
    {% endif %}
{% endblock %}