{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}
{% block pagetitle 'Gebruikers' %}

{% block pageheader %}
    <h1>Gebruikers</h1>
    {{ Button.LinkInfo('Toevoegen...', path('webberig_backend_users_new'), '', 'glyphicon-plus', 'pull-right') }}
{% endblock %}
{% block body %}
    <table class="table table-striped" id="tblUsers">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Gebruikersnaam

                </th>
            </tr>
        </thead>
        <tbody>
{% for user in users %}
            <tr class="selectable">
                <td><a href="{{ path('webberig_backend_users_edit', {id: user.getId()}) }}">{{ user.getFullname() }}</a></td>
                <td>{{ user.getUsername() }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}