<!DOCTYPE html>
<html lang="nl">
<head>
    {% include 'WebberigBackendBundle:_Partials:htmlheaders.html.twig' with {pagetitle: block('pagetitle')} %}
    {% block head %}{% endblock %}
</head>
<body class="login">
    {% block body %}{% endblock %}
    {% include 'WebberigBackendBundle:_Partials:javascripts.html.twig' %}
    {% block javascript %}{% endblock %}
</body>
</html>