<!DOCTYPE html>
<html lang="nl">
<head>
    {% include 'WebberigBackendBundle:_Partials:htmlheaders.html.twig' with {pagetitle: block('pagetitle')} %}
    {% block head %}{% endblock %}
</head>
<body>
{% include 'WebberigBackendBundle:_Partials:menu.html.twig' %}
{% if block('pageheader') is not empty %}
    <div class="page-header">
        <div class="container">
            {% block pageheader %}{% endblock %}
        </div>
    </div>
{% endif %}
<div class="container">
    {% include 'WebberigSharedBundle:_Partials:flashbag.html.twig' %}
{% block body %}{% endblock %}
</div>
<footer>
    <div class="left">
        Copyright 2013    </div>
    <div class="right">
        <a href="app/account">Mathieu Maes</a> - <a href="{{ path('webberig_backend_account_logout') }}">Uitloggen</a>
    </div>
</footer>
{% include 'WebberigBackendBundle:_Partials:javascripts.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>