
body
{
  padding-top: 60px;
}
.navbar-fixed-top .navbar-inner
{
  border-bottom: 3px solid @mainColor;
}
.nav-tabs > li > a, .nav-pills > li > a {
  margin-right: 5px;
}

/*******************************************************************
    FOOTER
*******************************************************************/
footer
{
  position: fixed;
  bottom: 0px;
  background-color: #afafaf;
  width: 100%;
  padding: 10px 0px;

  .left, .right, a, a:hover
  {
    font-size: 10px;
    color: #FFF;
  }
  .right
  {
    float: right;
    text-align: right;
    padding-right: 10px;
  }
  .left
  {
    float: left;
    padding-left: 10px;
  }
}

/*******************************************************************
    Selectable table rows
*******************************************************************/
table {
  tr.selectable
  {
    cursor: pointer;
  }
  tr.selectable:hover td
  {
    background-color: @grayLighter;
  }
}

/*******************************************************************
    Form controls
*******************************************************************/
