<meta charset="utf-8" />
<title>{{ pagetitle|raw }}{% if pagetitle is not empty %} - {% endif %}{{ application_title }} - Powered by Webberig.be</title>
<link href="{{ asset('css/application.css') }}" rel="stylesheet" />
