<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('webberig_backend_dashboard') }}">{{ application_title }}</a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="container">
            <ul class="nav navbar-nav">
            {% set menu = getBackendMenu() %}
            {% for item in menu %}
                <li {% if item.isActive %}class="active"{% endif %}><a href="{{ path(item.route, item.routeParams) }}">{{ item.label }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
