{% extends 'WebberigBackendBundle:_Layouts:login.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}
{% block pagetitle 'Aanmelden' %}
{% block body %}
    <div class="modal show" id="mdlLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                {% set formId = 'frmLogin' %}
                <form id="{{ formId }}" method="post" class="form-horizontal" action="{{ path('webberig_backend_account_check') }}">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h3>{{ application_title }}</h3>
                </div>
                <div class="modal-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endif %}
                    <div class="form-group">
                        <label for="frmLogin-username" class="col-sm-4 control-label">Gebruikersnaam</label>
                        <div class="col-sm-8">
                            <input name="username" type="text" class="form-control" id="frmLogin-username" value="{{ last_username }}" placeholder="Gebruikersnaam">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="frmLogin-password" class="col-sm-4 control-label">Wachtwoord</label>
                        <div class="col-sm-8">
                            <input name="password" type="password" class="form-control" id="frmLogin-password" placeholder="Wachtwoord">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {#<a href="{{ path('webberig_backend_OpenId_GoogleLogin') }}" class="btn"><img src="{{ asset('bundles/webberigbackend/images/google.png') }}" alt="Aanmelden met Google account"/></a>#}
                    {{ Button.Submit('Aanmelden') }}
                </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
