/*******************************************************************
    FOOTER
*******************************************************************/
body
{
  padding-bottom: 50px;
}
footer
{
  position: fixed;
  bottom: 0px;
  background-color: #afafaf;
  width: 100%;
  padding: 10px 0px;

  .left, .right, a, a:hover
  {
    font-size: 10px;
    color: #FFF;
  }
  .right
  {
    float: right;
    text-align: right;
    padding-right: 10px;
  }
  .left
  {
    float: left;
    padding-left: 10px;
  }
}