.alert ul
{
  margin-bottom: 0;
  padding-left: 0;
}

ul.dashed {
  list-style-type: none;
  li:before {
    content: " - ";
  }
}


.form-actions
{
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-top: 20px;
}