.page-header
{
  background-color: #FAFAFA;
  color: @gray;

  padding-top: 9px;
  margin-top: -20px;
  border-bottom: 1px solid @brand-primary;

  .container {
    position: relative;
  }


  h1 {
    margin-top: 10px;
  }

  .buttons {
    text-align: right;
  }
  .nav.nav-tabs
  {
    border-bottom: none;
    margin-bottom: -9px;
    & > li > a:hover, & > li > a:focus
    {
      border-color: @brand-primary;
      color: #FFF;
      background-color: @brand-primary;
    }

    & > li.active > a
    {
      background-color: #FFF;
      border-color: @brand-primary;
      border-bottom-color: #FFF;
      color: @gray-darker;
    }
  }
}